<html>
    
    <%- include("../partials/head") %>

    <body>
        <%- include("../partials/navbar") %>

        <h1> Documentos </h1>
        <table  class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Ubicación física</th>
                <th>Direccion Virtual</th>

            </tr>
            </thead>
            <tbody>
            <% for(let i in list) { %>
                <tr> 
                    <th><%= list[i].idDocumento %> </th>
                    <td><%= list[i].nombre %> </td>
                    <td>
                        <button data-bs-nombre='<%= list[i].nombre %>' data-bs-descripcion='<%= list[i].descripcion %>' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                            Ver Descripción
                        </button>
                    </td>
                    <td><%= list[i].fecha %> </td>
                    <td><%= list[i].tipo %> </td>
                    <td>
                    <% if (list[i].direccion_fisica != null) { %>
                         <button data-bs-id='<%= list[i].idDocumento %>' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                            Ver Ubicacion Fisica
                        </button>
                    <% } %>
                    </td>
                    <td>
                    <% if (list[i].direccion_virtual != null) { %>
                        <a href="">Descargar</a>
                    <% } %>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <a href="SistemaControlDocumentos/nuevo">Crear nuevo</a>

        <!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            ...
        </div>
      </div>
    </div>
  </div>

    </body>
    <script>
        var modal = document.getElementById('modal')
        modal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var nombre = button.getAttribute('data-bs-nombre')
            var descripcion = button.getAttribute('data-bs-descripcion')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            var modalTitle = modal.querySelector('.modal-title')
            var modalBody = modal.querySelector('.modal-body')

            modalTitle.textContent = 'Descripción de ' + nombre
            modalBody.textContent = descripcion
        })
    </script>
</html>