<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Editar Edificio "<%= edificio.nombre %>"</h1>
    <form action="./<%= edificio.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <fieldset>
        <label for="nombre">Nombre del Edificio:</label> 
        <input type="text" name="nombre" value="<%= edificio.nombre %>"/>
        <% if(errors && errors.nombre) { %>
            <span class="text-danger"><%= errors.nombre.msg %></span>
        <% } %>
        <fieldset name="opciones">
        <legend>Planta:</legend>
        
        <% for(let i in list) { %>
            <% if (list[i].id != edificio.planta) { %>
                <input type="radio" id='<%= list[i].id %>' name="planta" value='<%= list[i].id %>' />
                <label for='<%= list[i].id %>'> <%= list[i].nombre %> </label><br>
            <% } else { %>
                <input type="radio" id='<%= list[i].id %>' name="planta" value='<%= list[i].id %>' checked/>
                <label for='<%= list[i].id %>'> <%= list[i].nombre %> </label><br>
            <% } %>
        <% } %>
        </fieldset>
        <% if(errors && errors.planta) { %>
            <span class="text-danger"><%= errors.planta.msg %></span>
            <br>
        <% } %>

        <br>
        <a href="./"  class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-info">Actualizar</button>
        </fieldset>
    </form>
</html>