<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Editar Mueble "<%= mueble.nombre %>"</h1>
    <form action="./<%= mueble.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <fieldset>
            <label for="nombre">Nombre del Mueble:</label> 
            <input type="text" id="nombre" name="nombre" value="<%= mueble.nombre %>">
            <% if(errors && errors.nombre) { %>
                <span class="text-danger"><%= errors.nombre.msg %></span>
            <% } %>
            <br>
        
        <label for="planta">Planta: </label>
        <select class="form-select" aria-label="Default select example" name="planta"  id="planta">
            <option value="-1"> Hacer selección </option>
            <% for(let i in plantaList) { %>
                <% if (plantaList[i].id != mueble.planta) { %>
                    <option value='<%= plantaList[i].id %>'> <%= plantaList[i].nombre %> </option>
                <% } else { %>
                    <option value='<%= plantaList[i].id %>' selected> <%= plantaList[i].nombre %> </option>
                <% } %>
            <% } %>
        </select>
        
        <label for="edificio">Edificio: </label>
        <div id = "edificios">
            <select class="form-select" aria-label="Default select example" name="edificio"  id="edificio">
                <option value="-1"> Hacer selección </option>
                <% for(let i in edificioList) { %>
                    <% if (edificioList[i].id != mueble.edificio) { %>
                        <option value='<%= edificioList[i].id %>'> <%= edificioList[i].nombre %> </option>
                    <% } else { %>
                        <option value='<%= edificioList[i].id %>' selected> <%= edificioList[i].nombre %> </option>
                    <% } %>
                <% } %>
            </select>
        </div>

        <fieldset name="opciones">
            <legend>Zona:</legend>
            <div id = "zonas">
                <% for(let i in zonaList) { %>
                    <% if (zonaList[i].id != mueble.zona) { %>
                        <input type="radio" id='<%= zonaList[i].id %>' name="zona" value='<%= zonaList[i].id %>' />
                        <label for='<%= zonaList[i].id %>'> <%= zonaList[i].nombre %> </label><br>
                    <% } else { %>
                        <input type="radio" id='<%= zonaList[i].id %>' name="zona" value='<%= zonaList[i].id %>' checked/>
                        <label for='<%= zonaList[i].id %>'> <%= zonaList[i].nombre %> </label><br>
                    <% } %>
                <% } %>
            </div>
        </fieldset>
        <% if(errors && errors.zona) { %>
            <span class="text-danger"><%= errors.zona.msg %></span>
            <br>
        <% } %>

        
        <a href="./"  class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-info">Actualizar</button>
        </fieldset>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>     
        <script>
            $('#planta').on('change', function(e) {
                e.preventDefault()
                let id = document.getElementById("planta").value
                $.ajax({
                    url: `/sistemaControlDocumentos/edificio/getEdificiosByPlanta?id=${id}`,
                    dataType: "json",
                    success: function(data) {
                        var id, nombre, planta
                        $('#zonas').html("")

                        // Get the raw DOM object for the select box
                        select = $('#edificios');

                        let html = '<select class="form-select" aria-label="Default select example" name="edificio"  id="edificio"><option value="-1"> Hacer Selección </option>' 

                        // Load the new options
                        for (let i in data) {
                        option = data[i];
                        html += `<option value='${data[i].id}'> ${data[i].nombre} </option>`
                        }
                        select.html(html)
                    }
                });
            })
            $('#edificios').on('change', function(e) {
                e.preventDefault()
                let id = document.getElementById("edificio").value
                console.log(id)
                $.ajax({
                    url: `/sistemaControlDocumentos/zona/getZonasByEdificio?id=${id}`,
                    dataType: "json",
                    success: function(data) {
                        var id, nombre, edificio
                        console.log(data)

                        // Get the raw DOM object for the select box
                        select = $('#zonas');

                        let html = "" 

                        // Load the new options
                        for (let i in data) {
                        option = data[i];
                        html += `<input type="radio" id='${option.id}' name="zona" value='${option.id}'> 
                            <label for='${option.id}'> ${option.nombre} </label><br>`
                        }
                        select.html(html)
                    }
                });
            })
        </script>
    </form>
</html>