<html>
    
    <%- include("../partials/head") %>

    <body>
        <%- include("../partials/navbar") %>

        <h1> Muebles </h1>
        <% if (errors != "") { %>
            <span class="text-danger"><%= errors %></span>
        <% } %>
        <table  class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Zona</th>
                <th>Edificio</th>
                <th>Planta</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in list) { %>
                <tr> 
                    <th><%= list[i].id %> </th>
                    <td><%= list[i].nombre %> </td>
                    <td><%= list[i].zona %> </td>
                    <td><%= list[i].edificio %></td>
                    <td><%= list[i].planta %> </td>
                    <td>
                        <form method="POST" action="/sistemaControlDocumentos/mueble/<%= list[i].id %>?nombre=<%= list[i].nombre %>">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class= "btn btn-danger" onclick="return confirm('Desea borrar el mueble <%= list[i].nombre %>?')">Eliminar</button>
                        </form>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <a href="/sistemaControlDocumentos/mueble/nuevo" class="btn btn-primary">Crear nuevo</a>
        

    </body>
</html>