<html>
    <%- include("../partials/head") %>
<body>

    <%- include("../partials/navbar") %>

    <h1>Crear nuevo Documento</h1>
    <form action="./guardar" method="POST" enctype="multipart/form-data">
        <fieldset>
        <label for="nombre">Nombre del Documento:</label> 
        <input type="text" id="nombre" name="nombre">
        <br>

        <label for="descripcion">Descripci贸n:</label> <br>
        <textarea id="descripcion" name="descripcion" rows="4" cols="50" maxlength="140"></textarea>
        <br><br>


        <label for="fecha">Fecha del documento: </label>
        <input id="fecha" name= "fecha" type="date">
        <br><br>

        
        <label for="tipo">Tipo: </label>
        <select class="form-select" aria-label="Default select example" name="tipo"  id="tipo">
            <option selected value="-1"> Hacer selecci贸n </option>
            <% for(let i in tipo_documento) { %>
                <option value='<%= tipo_documento[i].id %>'> <%= tipo_documento[i].nombre %> </option>
            <% } %>
        </select>
        <br>

        <label for="file">Cargar Archivo: </label>
        <input type="file" id="file" name="file">
        <br>

    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Agregar Ubicaci贸n Fisica
    </button>

    <br>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <%- include("../partials/ubicacionFisica") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Agregar Ubicaci贸n Fisica</button>
        </div>
      </div>
    </div>
  </div>
        
        
        <br>
        <button type = "reset">Borrar</button>
        <button type="submit">Agregar informacion</button>
        </fieldset>

    </form>
</html>