<html>
    <%- include("../partials/head") %>

    <body>
        <%- include("../partials/navbar") %>
        <h1> Plantas </h1>
        <table  class="table table-bordered">
            <thead class="table-dark">
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>ciudad</th>
                <th>estado</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i in list) { %>
                <tr> 
                    <th><%= list[i].id %> </th>
                    <td><%= list[i].nombre %> </td>
                    <td><%= list[i].ciudad %> </td>
                    <td><%= list[i].estado %></td>
                </tr>
            <% } %>
            </tbody>
        </table>

        <a href="./planta/nuevo" class="btn btn-primary">Crear nuevo</a>
        

    </body>
</html>